/**
 * Bootscore Variables
 * 
 * This file contains the default variables used in the Bootscore theme.
 * You can override these variables in your own custom SCSS files to customize the theme's appearance.
 */

$primary: #2A99CC;
$secondary: #6C757D;
$light: #F0F7FD;
$dark: #192E3B;
$success: #2BB698;
$danger: #CC2A48;